# Identificação de Alunos em Risco

A identificação de alunos em risco de abandono escolar ou de baixo desempenho acadêmico é uma área crítica onde a ciência de dados pode fazer uma grande diferença. Esse tipo de análise pode ajudar educadores e administradores a tomar medidas proativas para apoiar esses alunos. Aqui está um detalhamento sobre como você pode abordar esse problema:

## 1. Coleta e Pré-processamento de Dados
### Fontes de Dados:

* Dados Acadêmicos: Notas, frequência, trabalhos entregues, participação em sala de aula.
* Dados Demográficos: Idade, gênero, renda familiar, escolaridade dos pais.
* Dados Comportamentais: Interações em plataformas de aprendizado online, tempo gasto em tarefas, padrões de acesso.
* Dados Psicológicos: Questionários sobre motivação, satisfação e bem-estar dos alunos.

### Pré-processamento:

* Limpeza de Dados: Remoção de dados duplicados, tratamento de valores ausentes.
* Normalização: Padronização dos dados para que estejam na mesma escala.
* Engenharia de Features: Criação de novas variáveis a partir das existentes (e.g., média das notas, frequência média).

In [1]:
%pip install pandas
%pip install numpy

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in ./.venv/lib/python3.12/site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# importe os dados do dataset em datasets/abandonos-202409131927.csv

import pandas as pd
import numpy as np

df_abandonos = pd.read_csv('datasets/abandonos-202409131927.csv')

# Exiba as primeiras linhas do dataset
df_abandonos.head()

,cd_pai1,nm_pai1,ds_localidade,nr_codigo_unid_trab,nm_unidade_trabalho,ds_ofertaitem,ci_aluno,nm_aluno,ds_tiporesultado,new_situacao,situacao2019
0,1,CREDE 1,AQUIRAZ,23462337,EEM MANOEL SENHOR DE MELO FILHO,1ª Série | Ensino Médio | Regular | Manhã,2588110,GEYSSON SANTOS DA SILVA,ABANDONOU,NaN,NaN
1,1,CREDE 1,AQUIRAZ,23462337,EEM MANOEL SENHOR DE MELO FILHO,1ª Série | Ensino Médio | Regular | Tarde,2947021,ANTONIO MARCOS ALVES EUFRAZIO,ABANDONOU,NaN,NaN
2,1,CREDE 1,AQUIRAZ,23462337,EEM MANOEL SENHOR DE MELO FILHO,1ª Série | Ensino Médio | Regular | Tarde,2601635,JAQUELINE FRANCISCA DA SILVA,ABANDONOU,NaN,NaN
3,1,CREDE 1,AQUIRAZ,23462337,EEM MANOEL SENHOR DE MELO FILHO,1ª Série | Ensino Médio | Regular | Tarde,3284489,THAYLANE BEZERRA DA SILVA,ABANDONOU,NaN,NaN
4,1,CREDE 1,AQUIRAZ,23462337,EEM MANOEL SENHOR DE MELO FILHO,1ª Série | Ensino Médio | Regular | Tarde,2235839,VICTOR LEONARDO MARINHO DE MOURA,ABANDONOU,NaN,NaN

In [4]:
# crie um dataset com todos os detalhe boletim
# os dados do bolletim estão nos arquivos 
# datasets/detalhe-boletim-2024-202409201443.csv
# datasets/detalhe-boletim-2023-202409201508.csv
# datasets/detalhe-boletim-2022-202409201538.csv
# juntos todos os detalhes em um único dataset

df_boletim_2024 = pd.read_csv('datasets/detalhe-boletim-2024-202409201443.csv')
# df_boletim_2023 = pd.read_csv('datasets/detalhe-boletim-2023-202409201508.csv')
# df_boletim_2022 = pd.read_csv('datasets/detalhe-boletim-2022-202409201538.csv')

# df_boletim = pd.concat([df_boletim_2024, df_boletim_2023, df_boletim_2022])
df_boletim = df_boletim_2024

df_boletim.head()

,ci_detalhes_boletim,cd_turma,cd_disciplina,nr_anoletivo,nr_ano,cd_aluno,nr_cargahoraria,ds_disciplina,ci_areatrabalho,ds_areatrabalho,...,nr_aulasset,nr_faltasset,nr_aulasout,nr_faltasout,nr_aulasnov,nr_faltasnov,nr_aulasdez,nr_faltasdez,nr_mediafinal,nr_mediaanual
0,316578381,970484,103430.0,2024,2024,2652016,1.0,APROFUNDAMENTO EM MATEMATICA,19.0,MATEMÁTICA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,308168481,963168,1620.0,2024,2024,3400168,1.0,QUÍMICA,18.0,CIÊNCIAS DA NATUREZA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,308029687,960880,3330.0,2024,2024,3191761,2.0,LINGUA ESTRANGEIRA (ESPANHOL),14.0,LINGUAGENS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,314625025,971297,890.0,2024,2024,3517184,2.0,GEOGRAFIA,17.0,CIÊNCIAS HUMANAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,308775652,971904,970.0,2024,2024,2589780,1.0,HISTÓRIA,17.0,CIÊNCIAS HUMANAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2. Análise Exploratória de Dados (EDA)
* Visualização de Dados: Utilizar gráficos para identificar padrões e outliers.
* Estatísticas Descritivas: Média, mediana, desvio padrão das variáveis importantes.
* Correlação: Análise de correlação para entender as relações entre diferentes variáveis.

## 3. Modelagem Preditiva
### Escolha de Modelos:

* Regressão Logística: Útil para prever uma variável binária, como se um aluno está em risco ou não.
* Árvores de Decisão e Florestas Aleatórias: Modelos que podem lidar bem com dados categóricos e fornecer uma interpretação clara sobre as decisões.
* Máquinas de Vetores de Suporte (SVM): Úteis para classificações em cenários complexos.
* Redes Neurais: Podem capturar relações não lineares complexas, mas requerem mais dados e poder computacional.

### Validação do Modelo:

* Divisão do Conjunto de Dados: Separar dados em conjuntos de treino e teste (e, se possível, um conjunto de validação).
* Cross-validation: Utilizar validação cruzada para garantir que o modelo não esteja superajustado.
* Métricas de Desempenho: Acurácia, precisão, recall, F1-score, AUC-ROC.

## 4. Implementação e Monitoramento
### Deploy do Modelo:

* Integração: Integrar o modelo em sistemas existentes de gerenciamento escolar.
* Interface de Usuário: Criar dashboards para que educadores possam facilmente visualizar os alunos em risco.

### Monitoramento Contínuo:

* Re-treinamento: Atualizar o modelo periodicamente com novos dados para manter a precisão.
* Feedback de Usuário: Incorporar feedback de professores e administradores para refinar o modelo.

## 5. Intervenção
### Estratégias de Intervenção:

* Tutoria Personalizada: Programas de mentoria para alunos identificados como de risco.
* Recursos Adicionais: Materiais de estudo adicionais, sessões de revisão.
* Apoio Psicológico: Serviços de aconselhamento para lidar com problemas emocionais ou sociais.
* Engajamento Parental: Envolver os pais ou responsáveis no processo educativo.

### Avaliação das Intervenções:

* Medição de Impacto: Monitorar o progresso dos alunos após a intervenção.
* Ajustes nas Estratégias: Refinar as estratégias de intervenção com base nos resultados.