In [ ]:
# Instalando biblioteca para o usar o github

In [ ]:
# !pip install -q pyspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [2]:
from pathlib import Path
import shutil

dirpath = Path('./') / 'datasets'
print(dirpath)
if dirpath.exists() and dirpath.is_dir():
    shutil.rmtree(dirpath)

datasets

In [ ]:
# !git clone https://github.com/naubergois/datasets.git

Cloning into 'datasets'...
remote: Enumerating objects: 4078, done.
remote: Counting objects: 100% (1115/1115), done.
remote: Compressing objects: 100% (773/773), done.
remote: Total 4078 (delta 398), reused 997 (delta 292), pack-reused 2963
Receiving objects: 100% (4078/4078), 806.11 MiB | 26.91 MiB/s, done.
Resolving deltas: 100% (1311/1311), done.
Updating files: 100% (4560/4560), done.

In [ ]:
# ! cp ./datasets/ForSpark/confs/* ./

In [3]:
import sys
from pyspark.sql import *
from datasets.ForSpark.lib.logger import Log4j
from datasets.ForSpark.lib.utils import *

ModuleNotFoundError: No module named 'pyspark'

In [ ]:
conf = get_spark_app_config()

spark = SparkSession \
    .builder \
    .appName("HelloSpark") \
    .master("local[2]") \
    .getOrCreate()

logger = Log4j(spark)

In [ ]:
logger.info("Starting HelloSpark")

In [ ]:

import pyspark
from pyspark.sql import SparkSession



dept = [("Finance",10),("Marketing",20),("Sales",30),("IT",40)]
rdd = spark.sparkContext.parallelize(dept)

In [ ]:
rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:289

In [ ]:

df = rdd.toDF()
df.printSchema()
df.show(truncate=False)

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)

+---------+---+
|_1       |_2 |
+---------+---+
|Finance  |10 |
|Marketing|20 |
|Sales    |30 |
|IT       |40 |
+---------+---+

In [ ]:

deptColumns = ["dept_name","dept_id"]
df2 = rdd.toDF(deptColumns)
df2.printSchema()
df2.show(truncate=False)

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [ ]:

deptDF = spark.createDataFrame(rdd, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [ ]:

from pyspark.sql.types import StructType,StructField, StringType
deptSchema = StructType([
    StructField('dept_name', StringType(), True),
    StructField('dept_id', StringType(), True)
])

deptDF1 = spark.createDataFrame(rdd, schema = deptSchema)
deptDF1.printSchema()
deptDF1.show(truncate=False)

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: string (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+