# Exercícios 

Escolha um dataset de sua preferência com as seguintes características: 

- Dado com um atributo rotulado (target)
- Pelo menos 4 variáveis númericas
- Pelo menos 1 variável categórica


1. Crie um pequeno texto de introdução ao seu dado. Explique a origem do dado e o tipo de problema que o entedimento deste pode proporcionar. No seu texto, tente responder as seguintes questões: 

- Qual a origem do meu dado?
    - Kaggle [Housing Price Prediction](https://www.kaggle.com/datasets/muhammadbinimran/housing-price-prediction-data)
- Qual é o problema? 
    - Predizer o preço de uma casa
- Qual é a variável ALVO (target)? 
    - Preço
- Porque eu me importo?
    - Isso pode auxiliar compradores e vendedores a estimar o valor aproximado de uma casa em negociação, para analisar se está próximo a um valor justo ou ajudar a definir um preço justos.
- Quais os ganhos possíveis no entendimento do meu dado? 



2. Crie gráficos para estudar a dispersão numérica das variáveis numéricas (histogramas, boxplot, KDE, etc.)

3. Crie gráficos para estudar a frequencia dos valores possíveis observados nas variáveis categóricas (ex: barplots). 

4. Crie gráficos relacionais entre as variaveis numéricas, mas que explicite a variável ALVO do seu dado. 

5. Use o pandas profiling e gere um relatório automático.

In [9]:
import pandas as pd

df=pd.read_csv('housing_price_dataset.csv')
df.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

In [20]:
# converta a coluna 'SquareFeet' para metros quadrados (1 pé quadrado = 0.092903 metros quadrados)
df['m2'] = df['SquareFeet']*0.092903

In [21]:
df.head()

,SquareFeet,Bedrooms,Bathrooms,Neighborhood,YearBuilt,Price,m2
0,2126,4,1,Rural,1969,215355.283618,197.511778
1,2459,3,2,Rural,1980,195014.221626,228.448477
2,1860,2,1,Suburb,1970,306891.012076,172.799580
3,2294,2,1,Urban,1996,206786.787153,213.119482
4,2130,5,2,Suburb,2001,272436.239065,197.883390

In [22]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df, title="Pandas Profiling Report")

profile.to_file('output.html')

Summarize dataset: 100%|██████████| 32/32 [00:01<00:00, 16.23it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.49s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  4.16it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 273.74it/s]